<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlineshop.mapper.GoodsTypeMapper">
  <resultMap id="GoodsTypeResultMap" type="GoodsType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
  </resultMap>
  <sql id="GoodsType_Column_List">
    id, typename
  </sql>
  <select id="getGoodsType" parameterType="Integer" resultMap="GoodsTypeResultMap">
    select 
    <include refid="GoodsType_Column_List" />
    from goods_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteGoodsType" parameterType="Integer">
    delete from goods_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="GoodsType">
    insert into goods_type (id, typename)
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="addGoodsType" parameterType="GoodsType">
    insert into goods_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typename != null">
        typename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateGoodsType" parameterType="GoodsType">
    update goods_type
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="GoodsType">
    update goods_type
    set typename = #{typename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getGoodsTypeList" resultMap="GoodsTypeResultMap">
    select <include refid="GoodsType_Column_List" />
    from goods_type
  </select>
  <select id="getCount" parameterType="java.util.Map" resultType="Integer">
    select count(id)
    from goods_type
  </select>
</mapper>